"*":
  "atom-alignment":
    alignBy: [
      "=>"
      ":="
      ":"
      "="
      "|"
    ]
    alignmentSpaceChars: [
      "=>"
      ":="
      "="
      "|"
    ]
  "atom-beautify":
    general:
      analytics: false
      loggerLevel: "error"
      muteAllErrors: true
      muteUnsupportedLanguageErrors: true
    python:
      default_beautifier: "yapf"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "markdown-mindmap"
      "language-latino"
      "language-rust"
      "language-moonscript"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "material-syntax"
    ]
  editor:
    fontSize: 25
    invisibles:
      space: "#"
    showInvisibles: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "46ce8f16-8a34-45bb-904f-2b7aff6da21d"
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1518713179
  welcome:
    showOnStartup: false
".latino.source":
  editor:
    tabLength: 4
".lua.source":
  editor:
    tabLength: 4
