"*":
  "atom-beautify":
    general:
      _analyticsUserId: "23123"
      loggerLevel: "error"
      muteAllErrors: true
      muteUnsupportedLanguageErrors: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "markdown-mindmap"
      "language-latino"
      "language-rust"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "material-syntax"
    ]
  editor:
    fontSize: 22
    invisibles:
      space: "#"
    showInvisibles: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "8fdf7c94-23e6-4883-8095-cf0c6ea20ff9"
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1492778799
  welcome:
    showOnStartup: false
".latino.source":
  editor:
    tabLength: 4
".lua.source":
  editor:
    tabLength: 4
