"*":
  "atom-beautify":
    general:
      _analyticsUserId: ""
      loggerLevel: "error"
      muteAllErrors: true
      muteUnsupportedLanguageErrors: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "markdown-mindmap"
      "language-latino"
      "language-rust"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "material-syntax"
    ]
  editor:
    fontSize: 21
    invisibles:
      space: "#"
    showInvisibles: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: ""
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit:
  welcome:
    showOnStartup: false
".latino.source":
  editor:
    tabLength: 4
".lua.source":
  editor:
    tabLength: 4
