// Configuração do arquivo do JourneyMap. Modifique ao seu próprio risco!
// Para usar em todos os mundos, coloque aqui: journeymap/config/5.5/
// Para mais informação, vá para: http://journeymap.info/Options_Manager
{
  "enabled": "true",
  "shape": "Circle",
  "position": "TopRight",
  "showDayNight": "true",
  "info1Label": "Blank",
  "info2Label": "GameTime",
  "info3Label": "Location",
  "info4Label": "Biome",
  "sizePercent": "24",
  "frameAlpha": "48",
  "terrainAlpha": "65",
  "orientation": "North",
  "compassFontScale": "1",
  "showCompass": "true",
  "showReticle": "true",
  "reticleOrientation": "Compass",
  "active": true,
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "false",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "1",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "false",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.5.2"
}