// Configuração do arquivo do JourneyMap. Modifique ao seu próprio risco!
// Para usar em todos os mundos, coloque aqui: journeymap/config/5.5/
// Para mais informação, vá para: http://journeymap.info/Options_Manager
{
  "showKeys": "true",
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "1",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "false",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "4",
  "configVersion": "5.5.2"
}