// Configuração do arquivo do JourneyMap. Modifique ao seu próprio risco!
// Para usar em todos os mundos, coloque aqui: journeymap/config/5.5/
// Para mais informação, vá para: http://journeymap.info/Options_Manager
{
  "managerEnabled": "true",
  "beaconEnabled": "true",
  "showTexture": "true",
  "showStaticBeam": "false",
  "showRotatingBeam": "false",
  "showName": "true",
  "showDistance": "true",
  "autoHideLabel": "true",
  "boldLabel": "false",
  "fontScale": "1",
  "textureSmall": "true",
  "maxDistance": "0",
  "minDistance": "4",
  "createDeathpoints": "true",
  "configVersion": "5.5.2"
}